<div class="row">
	<div class="span4">
		<h1>Here are your polls!</h1>
		<p>Click edit to add questions</p>
		<% @polls.each do |poll| %>
		<h3 class="note"><%= "#{poll.name}" %>	</h3>
		<%= link_to "Edit Poll", edit_poll_path(poll)%><br>
		<%= link_to "#{root_url}#{poll.link}", "#{root_url}#{poll.link}" %><br><br>
		<%end%>
	</div>
</div>